<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name=".service.LuaPluginInfoService"
            tools:node="remove" />
        <service
            android:name=".service.LuaRuntimeService"
            tools:node="remove" />
        <service
            android:name=".debug.LuaRuntimeFaultService"
            android:exported="false"
            android:process=":lua_runtime" />
        <service
            android:name=".debug.LuaRuntimeFaultPeerService"
            android:exported="false"
            android:process=":lua_fault_peer" />
    </application>

</manifest>
